@mixin circle($width,$color) {
  width: $width;
  height: $width;
  background: $color;
  border-radius: $width/2;
}

@mixin triangle($width,$color,$dir){
  width: 0;height: 0;
  @if ($dir==down){
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-top:$width solid $color;
  }@else if($dir==up){
    border-left: $width solid transparent;
    border-right: $width solid transparent;
    border-bottom:$width solid $color;
  }@else if($dir==left){
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-right:$width solid $color;
  }@else if($dir==right){
    border-top: $width solid transparent;
    border-bottom: $width solid transparent;
    border-left:$width solid $color;
  }

}
